.mm4-roll {
    cursor: pointer;
    background: $fond;

    h4 {
        line-height: 24px;

        &.flavor {
            box-shadow: none;
            background: $imgbg $blue;
            font-family: Sriracha, sans-serif;
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow:
                2px 2px 0 $orange,
                1px 1px 0 $color;
            border: 0;
            border-radius: 15px 15px 0 0;
            letter-spacing: 1px;
        }

        &.formula {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            border: 0;
            border-radius: 0;
            background: $color;
            color: $fond;
            letter-spacing: 1px;
        }

        &.tgtName {
            border-bottom: 1px solid $grey;
            font-size: 10px;
        }

        &.result {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            background: transparent;
            color: $color;
            font-weight: bold;
            border-radius: 0;
            border: 0;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
        }

        &.attack {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            background: transparent;
            color: $color;
            font-weight: bold;
            border-radius: 0;
            border: 0;
            border-top: 1px solid $black;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
        }

        &.bottom {
            margin: 0;

            &::after {
                content: '';
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0 0 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }

        &.critique {
            border-top: 1px solid $black;
            color: $green;
        }
    }

    div {
        &.dice-tooltip {
            grid-template-rows: auto;
            border-left: 1px solid $black;
            border-right: 1px solid $black;

            header {
                padding-left: 5px;
            }

            ol {
                margin-bottom: 0;
                padding-bottom: 5px;
                padding-left: 5px;
                border-bottom: 1px solid var(--color-border-light-primary);
            }

            span {
                &.part-total {
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 0;
                }
            }
        }

        &.dataAttack {
            div {
                &.inner {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 5px;
                    padding-right: 5px;

                    span {
                        box-shadow: none;
                        font-family: Sriracha, sans-serif;
                        font-size: 0.8em;
                        border: 0;
                        border-radius: 0;
                        background: transparent;
                        color: $color;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        &.btn {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            background: transparent;
            color: $color;
            font-weight: bold;
            border-radius: 0;
            border: 0;
            border-top: 1px solid $black;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            text-align: center;

            button {
                box-shadow: none;
                width: max-content;
                border: 0;
                font-weight: bold;
                margin-top: 2px;
                margin-bottom: 2px;
                font-variant: small-caps;
                font-size: 1em;
                font-family: Sriracha, sans-serif;
                color: $fond;
                letter-spacing: 1px;
                background: $imgbg $blue;
                background-blend-mode: overlay, multiply;
                text-shadow:
                    2px 2px 0 $orange,
                    1px 1px 0 $color;
                background-size: 500px;
            }

            &.special {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;

                button {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    span {
        &.text {
            display: block;
            text-align: justify;
            width: 100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            font-family: Sriracha, sans-serif;
            border-top: 1px solid $black;
        }
    }
}

.mm4-rollpwr {
    cursor: pointer;
    background: $fond;

    h4 {
        line-height: 24px;

        &.flavor {
            box-shadow: none;
            background: $imgbg $blue;
            font-family: Sriracha, sans-serif;
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow:
                2px 2px 0 $orange,
                1px 1px 0 $color;
            border: 0;
            border-radius: 15px 15px 0 0;
            letter-spacing: 1px;
        }

        &.formula {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            border: 0;
            border-radius: 0;
            background: $color;
            color: $fond;
            letter-spacing: 1px;
        }

        &.result {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            background: transparent;
            color: $color;
            font-weight: bold;
            border-radius: 0;
            border: 0;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
        }

        &.header {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1.2em;
            background: transparent;
            color: $color;
            font-weight: bold;
            border-radius: 0;
            border: 0;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
        }

        &.bottom {
            margin: 0;

            &::after {
                content: '';
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0 0 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }

        &.critique {
            border-top: 1px solid $black;
            color: $green;
        }
    }

    div {
        &.dice-tooltip {
            grid-template-rows: auto;
            border-left: 1px solid $black;
            border-right: 1px solid $black;

            header {
                padding-left: 5px;
            }

            ol {
                margin-bottom: 0;
                padding-bottom: 5px;
                padding-left: 5px;
                border-bottom: 1px solid var(--color-border-light-primary);
            }

            span {
                &.part-total {
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 0;
                }
            }
        }

        &.data {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            gap: 2px;

            span {
                font-family: Sriracha, sans-serif;

                &:first-of-type {
                    grid-column: 1 / 3;
                    text-align: center;
                }
            }
        }

        &.descripteurs {
            display: block;
            grid-template-columns: 1fr 1fr;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            border-top: 1px solid $black;
            gap: 2px;
            min-height: 10px;
            text-align: justify;

            span {
                font-family: Sriracha, sans-serif;
            }
        }
    }

    span {
        &.text {
            display: block;
            text-align: justify;
            width: 100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 1px;
            font-family: Kalam, sans-serif;
            letter-spacing: 0.5px;
            border-top: 1px solid $black;
            min-height: 10px;
        }
    }
}

.mm4-msgdata {
    background: $fond;

    h4 {
        &.flavor {
            box-shadow: none;
            background: $imgbg $blue;
            font-family: Sriracha, sans-serif;
            text-align: center;
            line-height: 36px;
            background-blend-mode: overlay, multiply;
            background-size: 500px;
            background-repeat: no-repeat;
            color: $fond;
            font-size: 18px;
            padding-left: 2px;
            padding-right: 2px;
            text-shadow:
                2px 2px 0 $orange,
                1px 1px 0 $color;
            border: 0;
            border-radius: 15px 15px 0 0;
            letter-spacing: 1px;
            margin: 0;
        }

        &.rank {
            box-shadow: none;
            font-family: Sriracha, sans-serif;
            font-size: 1em;
            border: 0;
            border-radius: 0;
            background: $color;
            color: $fond;
            letter-spacing: 1px;
            margin: 0;
            text-align: center;
        }

        &.bottom {
            margin: 0;

            &::after {
                content: '';
                display: grid;
                grid-template-columns: 1fr;
                height: 0.5rem;
                width: 100%;
                border-width: 2px;
                border-radius: 0 0 15px 15px;
                background-blend-mode: overlay, multiply;
                background: $imgbg $blue;
            }
        }
    }

    span {
        &.text {
            display: block;
            text-align: justify;
            width: 100%;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 1px;
            font-family: Kalam, sans-serif;
            letter-spacing: 0.5px;
            border-top: 1px solid $black;
            min-height: 10px;
            margin: 0;
        }
    }
}

.chat-message {
    background: $fond;

    &.whisper {
        filter: hue-rotate(50deg);
    }

    &.blind {
        filter: hue-rotate(250deg);
    }

    &.context {
        z-index: 999;
    }
}
